<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_blox.png" %>
    <% end %>

  <ul class="navbar-nav mr-auto">
    <% unless current_user %>
      <li class="nav-item"><strong>
        <%= link_to "ENTRAR", new_user_session_path, class: "nav-link" %>
      </strong></li>
      <li class="nav-item"><strong>
        <%= link_to "CADASTRO", new_user_registration_path, class: "nav-link" %>
      </strong></li>
    <% end %>
  </ul>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "INÃCIO", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SAIR", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
