<div class="card login-card">
  <div class="card-body">
    <h4 class="card-title text-center">Detalhes da Reserva:</h4>
    <div class="form-group">
      <label for="reservation_name"> Reunião:</label>
      <input name="reservation_name" class="form-control" disabled value=<%= @reservation.name %> ></input>
    </div>

    <div class="form-group">
      <label for="user_name"> Responsável:</label>
      <input name="user_name" class="form-control" disabled value=<%= @reservation.user.email %> ></input>
    </div>

   <div class="form-group">
      <label for=start_time> Dia:</label>
      <input name="start_time" class="form-control" disabled value=<%= @reservation.start_time %> ></input>
    </div>

    <div class="form-group">
      <label for=start_time> Horário:</label>
      <input name="start_time" class="form-control" disabled value=<%= @reservation.start_time.hour %>:00 ></input>
    </div>
    <form class="form-inline">
      <div class="container-fluid">
        <%= link_to 'VOLTAR', room_path([@room]), class: "btn btn-success" %>
        <% if current_user == @reservation.user %>
          <%= link_to 'APAGAR', room_reservation_path(id: @reservation, room_id: @room.id), data: { confirm: "Tem certeza que deseja deletar essa reunião?" }, method: :delete, class: "btn btn-danger float-right " %>
        <% end %>
      </div>
    </form>
  </div>
</div>
