<div class="card login-card">
  <div class="card-body">
    <h4 class="card-title"><%= t('rooms') %></h4>
      <ul class="list-group">
        <% @rooms.each do |room| %>

            <li class="list-group-item">
              <h5>
                <%= room.name %>
                <div class=float-right>
                  <%= link_to t('show'), classroom, class: "btn btn-primary" %>
                  <%= link_to t('delete'), classroom, method: :delete, data: { confirm: t('delete_confirm') }, class: "btn btn-danger" %>
                </div>
              </h5>
            </li>

        <% end %>
      </ul>

    <%= link_to t('submit.create'), new_room_path, class: "btn btn-success", role: "Button" %>
  </div>
</div>

