<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title text-center"> Sala de Reunião: <%= @room.name.upcase %></h4>
      <%= month_calendar(events: @reservations) do |date, reservations| %>
        <%= link_to date.day, new_room_reservation_url(date: date, room_id: @room.id) %>

        <% reservations.each do |reservation| %>
          <div>
            <li><%= link_to  "#{reservation.start_time.hour}h #{reservation.name}", room_reservation_url(id: reservation.id, room_id: @room.id) %></li>
          </div>
        <% end %>
      <% end %>

    <form class="form-inline">
      <div class="container-fluid">
        <%= link_to 'VOLTAR', rooms_path, class: "btn btn-success float-right", role: "button" %>
      </div>
    </form>
  </div>
</div>
