<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title text-center"> Sala de Reunião: <%= @room.name.upcase %></h4>
      <p class="text-center">Selecione o DIA para sua reunião e escolha um HORÁRIO disponível.</p>

      <%= month_calendar(events: @reservations) do |date, reservations| %>
        <%= link_to date.day, new_room_reservation_url(date: date, room_id: @room.id) %>

        <% reservations.each do |reservation| %>
          <div>
            <li><%= link_to  "#{reservation.start_time.hour}h #{reservation.name}", room_reservation_url(id: reservation.id, room_id: @room.id) %></li>
          </div>
        <% end %>
      <% end %>

    <form class="form-inline">
      <div class="container-fluid">
        <% if @room.owner.to_i == current_user.id %>
          <%= link_to 'APAGAR SALA', @room, method: :delete, data: { confirm: 'Tem certeza que deseja APAGAR esta Sala?' }, class: "btn-flat-danger float-left" %>
        <% end %>
        <%= link_to 'VOLTAR', rooms_path, class: "btn-flat float-right" %>
      </div>
    </form>
  </div>
</div>
